@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1c2a39;
  color: ghostwhite;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.countdown-text {
  margin-top: 5vh;
  text-align: center;
  font-size: 35px;
  color: white;
}

.character-spritesheet {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animateSpritesheet 1s steps(10) infinite;
}

.game-objects{
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
}

.loading-text {  
  margin-top: -10vh;
  text-align: center;
  font-size: 20px;
  color: white;
}

.instructions {
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
}

.skip-text {
  margin-top: 30vh;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease-in; 
}

p{
  padding-right: 12.5vw;
  padding-left: 12.5vw;
}

@media only screen and (max-width: 600px) {
  .loading-screen {
    top: 40%; /* Adjust as needed for vertical centering on smaller screens */
  }
}
