body
{
    margin: 0;
    background: black;
    text-align: center;
    text-size-adjust: 100%;
    font: bold;
    /*font-family: 'AlegreyaSansSC', sans-serif;*/
    font-size: 22px;
    color: white;
}