@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

body {
  background-color: #1c2a39;
  margin: 0;
}

.topbar {
  background: rgba(27, 27, 27, 0.8);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 6vh;
  z-index: 9999;
  opacity: 0;
  transition: all 3s ease-out;
}

.project-bar{
  background: #1b1b1b;
  width: 100%;
  display: flex;
  align-items: center;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 5vh; /* Added spacing */
}

.project-bar h2 {
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-size: 50px; /* Increased font size */
  margin-bottom: 10px;
}

.project-bar p {
  color: #9ea1a5;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #1c2a39;
  background-position: center;
  background-size: cover;
}

.name {
  font-size: 28px;
  text-decoration: none;
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-weight: 1000;
  padding: 5vh;
  margin-right: auto;
}

.linksBar {
  padding: 10%;
  margin-left: auto;
}

.LinkButton {
  color: ghostwhite;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s;
}

.LinkButton:hover {
  background: -webkit-linear-gradient(#e31e67, purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LinkButton:active {
  font-size: 20px;
}

.LinkButton img {
  display: none;
}

@media only screen and (max-width: 600px) {
  .topbar {
    height: 10vh;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    font-size: 25px;
    text-decoration: none;
    background: linear-gradient(to right, #e31e67, purple);
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    padding: 0;
    padding-left: 5vw;
    margin-right: auto;
  }

  .linksBar {
    padding: 0;
    padding-left: 5vw;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .LinkButton {
    font-size: 0;
    background-color: #e31e67;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2vw;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
  }

  .LinkButton:hover,
  .LinkButton:active,
  .LinkButton:focus,
  .LinkButton:disabled {
    background-color: -webkit-linear-gradient(purple, purple);
    font-size: 0;
  }

  .LinkButton img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .portfolio-item {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
  }

  .portfolio-image {
    width: 100%;
  }

  .project-bar {
    height: auto;
    padding: 10px;
  }

  .project-bar h2 {
    font-size: 24px;
  }

  .project-bar p {
    font-size: 16px;
  }
}

.main_content {
  position: relative;
}

.video-container {
  position: relative;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 2s ease;
}

.youtube-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 5px 10px;
  text-decoration: none;
  opacity: 0;
  transition: all 1s ease-out;
}

.bar {
  background-color: #1f2f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
  margin-top: 5vh;
  transition: all 1s ease-out;
}

.content {
  max-width: 1000px;
  text-align: center;
  color: ghostwhite;
}

.content h2 {
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-size: 60px;
}

.content p {
  line-height: 40px;
  color: #9ea1a5;
  font-size: 20px;
}

a {
  color: #fff;
}

/* Resume */
.resume {
  padding: 30px;
}

.portfolio {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2%; /* Added padding to the sides */
}

.portfolio-item {
  width: 30%;
  height: calc(2 * (30vw)); /* 2 times the width */
  background-color: #1f2f3f;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #9ea1a5; /* Add frame */
  transition: all 0.5s ease-out;
}

.portfolio-image {
  width: 100%;
  height: 50%; /* Adjusted height */
  overflow: hidden;
  position: relative;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.portfolio-image img.active {
  opacity: 1;
}

.portfolio-info {
  width: 100%;
  height: 50%; /* Adjusted height */
  padding: 10px;
  color: ghostwhite;
  text-align: center;
}

.portfolio-info h3 {
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-size: 36px; /* Increased font size */
  margin-bottom: 10px;
}

.portfolio-info p {
  font-size: 20px; /* Increased font size */
  color: #9ea1a5;
}

.contact-bar{
  background: #1b1b1b;
  width: 100%;
  display: flex;
  align-items: center;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 5vh; /* Added spacing */
}

.contact-bar h2 {
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-size: 50px; /* Increased font size */
  margin-bottom: 10px;
}

.contact-bar p {
  color: #9ea1a5;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .portfolio-item {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-item {
    width: 100%;
    height: calc(2 * (100vw)); /* Adjusted for mobile */
  }
}
