@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  /*font-family: 'Karla', sans-serif;*/
}
body{
  color: #fff;
}
.topbar {
  background: #1b1b1b;
  margin: 0;
  margin-top: 0%;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container{
  width: 100%;
  height: 100vh;
  /*background-image: url(back.jpg);*/
  background-color: #1c2a39;
  background-position: center;
  background-size: cover;
}
.logo a{
  font-size: 28px;
  text-decoration: none;
  background: linear-gradient(to right, #e31e67, purple);
  background-clip: text;
  color: transparent;
  font-weight: 1000;
  padding: 5vh;
  margin-right: auto;
}
.link {
    padding: 10%;
    margin-left: auto;
}
.resume{
  color: ghostwhite;
  text-decoration: none;
  background: linear-gradient(to left, #e31e67, purple);
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
li a{
  text-decoration: none;
  transition: 0.5s;
}
li a:hover{
  color: #f9004d;
}
@media only screen and (max-width: 600px) {
  .topbar {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .logo {
    margin: 10px auto;
    padding: 10px;
    font-size: 10px;
  }

  .link {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .link li {
    display: inline-block;
    margin: 5px;
  }

  .resume {
    margin-top: 10px;
  }
}
.bar {
  background-color: #1f2f3f;
  /*background: radial-gradient(circle at bottom center, #e31e67 0%, #1f2f3f 30%);*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 15px;
}
.content {
  max-width: 600px;
  text-align: center;
  color: ghostwhite;
}
.content h2{
  font-size: 60px
}
.content p{
  margin-top: 10px;
  line-height: 30px;
  color: #9ea1a5;
  font-size: 17px;
}
a{
  color: #fff;
}
