.tab {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 5%;
    width: 80%;
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.name{
    color: #1BA098;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5%;
    margin-right: auto;
}

.link {
    color: #1BA098;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 5%;
    text-decoration: none !important;
    margin-left: auto;
}

.link:hover {
   font-size: 16px;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #DEB992;
}